body {
    padding: 0;
    margin: 0;
    background-color: rgb(148, 85, 85);
}
section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
}
.card{
    margin-bottom: 30px;
    justify-content: center;
    height: 100vh;
    border: none;
    text-align: center;
    background-color: rgb(148, 85, 85);
    color: rgb(255 255 255);
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}